.input-div-password{
    margin-bottom: 20px;
    margin-left: 190px;
  }

  .field-icon {
    
    margin-top: 15px;
    margin-left: 400px;
    position: absolute;
    z-index: 6;
  }

  .card{
      width: 30%;
  }

  .state{
      position: relative;
  }

  @media (max-width:992px){
    .mobileView{
  
    
    margin-left: -200px;

    }
   
}