<div class="d-flex ">


<div class="form-floating mb-1 mt-3 w-100 col-md-6">
  <span class="border-lable-flt state ">
    <input
    [type]="fieldTextType ? 'text' : 'password'"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
      type={{type}}
      class="form-control"
      [formControl]="ngControl.control"
      id="{{label}}"
    >
        <span style="cursor: pointer;" class="mobileView">
          <i class="fa fa-fw field-icon" 
        [ngClass]="{'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType}"  
                    (click)="toggleFieldTextType()">
      </i>
        </span>

  

  

    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
    <label for="{{label}}">{{label}}</label>
  </span>
 
</div>
<div class="card mt-2 m-3 col-md-3">
  <ng9-password-strength-bar
  [passwordToCheck]="ngControl.control.value"
  [barLabel]="barLabel"
  [customThresholds]="thresholds"
  [barColors]="myColors">
  </ng9-password-strength-bar>
</div>


</div>
